<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%=h @page_title %></title>
  <meta content="<%=h @page_section %>" name="x-section-name">
  <meta content="<%=h @page_section_link %>" name="x-section-link">
</head>
<body class="<%= proposition %>">
  <div id="wrapper" class="wrapper">
    <%= yield %>
  </div>
</body>
</html>
