<section id="content" role="main" class="group ancillary search no-results">

  <div class="search-container group">

    <form action="<%= @prefix %>/search" method="get" accept-charset="utf-8" class="search-header search-header-2" role="search">
      <fieldset>
        <legend class="visuallyhidden">Search gov.uk</legend>
        <label for="search-main" >Sorry, we can’t find any results for </label>
        <input type="search" name="q" value="<%= h @query %>" id="search-main" /> <input type="submit" value="Search" class="button">
      </fieldset>
    </form>


<!--     <form id="search2" class="site-search" action="<%= @prefix %>/search" method="get" role="search">
      <fieldset>
        <legend class="visuallyhidden">Search the beta.gov.uk site</legend>
        <p>
          <label for="main_autocomplete2" class="visuallyhidden">Search</label>
          <input type="text" id="main_autocomplete2" name="q" value="<%=h @query %>">
          <input type="submit" value="Search" class="button">
        </p>
      </fieldset>
    </form> -->

    <!-- <p>Sorry, we can’t find any results for <em><strong><%=h @query %></strong></em>.</p> -->

      <div class="results group">
        <div class="results-wrapper">
          <article>          
            <p>This is a beta test website, so it’s not searching all government information. That might be why we couldn’t find what you were after.</p>

            <p>Please try another search in the search box at the top of the page.</p>

            <p>Also, please remember that this is a trial site and may contain inaccuracies and incomplete information. This may affect the results that you get.</p>

            <p><a href="http://www.direct.gov.uk/en/index.htm">Directgov</a> remains the official site for government services and information.</p>

            <p><a href="/feedback">You can leave feedback on this or any other part of the site.</a></p>
          </article>
        </div>
      </div>

  </div>
</section>
