<section id="content" role="main" class="group search ancillary">
  <header class="page-header group">
    <hgroup>
      <h1><span>Search</span></h1>
    </hgroup>
  </header>
  
  <div class="search-container group">
    <form action="<%= @prefix %>/search" method="get" accept-charset="utf-8" class="search-header search-header-2" role="search">
      <fieldset>
        <legend class="visuallyhidden">Search gov.uk</legend>
        <label for="search-main" class="visuallyhidden">Search</label>
        <input type="search" name="q" value="<%= h @query %>" id="search-main" /><button type="submit">Search</button>
      </fieldset>

      <div class="number-results"><%= capped_search_set_size %> <%= pluralize("result", "results") %> found for <i><%= h @query %></i></div>
    </form>

    <div class="group">
      <div class="results results-2">
        <div class="results-wrapper">
          <ul class="results-list">
            <% non_recommended_results.each do |result| %>
              <li class="section-<%= result.section %> type-<%= result.presentation_format %>">
                <a href="<%= result.link %>" title= "View <%= result.title %>"><%= result.title %></a>
                <% if @use_description %>
                  <p>
                    <%= h result.description.split(/\s+/)[0..@number_of_words].join(' ') %><% if result.description.split(/\s+/).size > @number_of_words %>…<% end %>
                  </p>
                <% else %>
                  <p><%= apply_highlight(h(result.highlight)) %></p>
                <% end %>

                <ul class="result-meta">
                  <li class="<%= result.presentation_format %>"><%= formatted_format_name(result.presentation_format) %></li><li><a href="/browse/<%= result.section %>"><%= formatted_section_name(result.section) %></a></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    
      <aside class="filters filters-2">
        <div class="group">
          <h2><span class="visuallyhidden">Filter by </span>Section</h2>
    
          <ul>
            <% non_recommended_results.group_by(&:section).sort_by { |section, results_in_section| results_in_section.size }.reverse_each do |section, results_in_section| %>
              <li data-filter="section-<%= section %>"><a href="#"><%= formatted_section_name(section) %> <span><%= results_in_section.size %></span><span class="visuallyhidden"> results</span></a></li>
            <% end %>
          </ul>
        </div>
    
        <div class="group">
          <h2><span class="visuallyhidden">Filter by</span> Content Type</h2>
    
          <ul>
            <% non_recommended_results.group_by(&:format).sort_by { |section, results_in_format| results_in_format.size }.reverse_each do |format, results_in_format| %>
              <li data-filter="type-<%= format %>"><a href="#"><%= formatted_format_name(format) %> <span> <%= results_in_format.size %></span></a></li>
            <% end %>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>

<% content_for :head do %>
  <link rel="alternate" type="application/json" href="<%= @prefix %>/search.json?q=<%=h @query %>">
<% end %>
