<section id="content" role="main" class="group ancillary search">
  <header class="page-header group">
      <hgroup>
        <h1>Search results for <em><%= h @query %></em></h1>
      </hgroup>
  </header>

  <div class="search-container group">
    
    <form id="search2" class="site-search" action="<%= @prefix %>/search" method="get" role="search">
      <fieldset>
        <legend class="visuallyhidden">Search the beta.gov.uk site</legend>
        <p>
          <label for="main_autocomplete2" class="visuallyhidden">Search</label>
          <input type="text" id="main_autocomplete2" name="q" value="<%=h @query %>">
          <input type="submit" value="Search" class="button">
        </p>
      </fieldset>
      <p><%= capped_search_set_size %> <%= pluralize("result", "results") %> found</p>
    </form>

    <% unless recommended_results.empty? %>
      <div class="results top group">
          <h2>Elsewhere on the web</h2>
          <ul class="search-promoted">
            <% recommended_results.each do |result| %>
              <li>
                <h3><a href="<%= result.link %>" title="View <%= result.title %>"><%= result.title %></a></h3>
                <p><%= apply_highlight(h(result.highlight)) %></p>
              </li>
            <% end %>
          </ul>
      </div>
    <% end %>
    
    <% if @query == 'what is the average airspeed velocity of an unladen swallow' %>
      <div class="results top group">
          <h2>Elsewhere on the web</h2>
          <ul class="search-promoted">
            <li>
              <h3><a href="http://style.org/unladenswallow/" title="View Estimating the Airspeed Velocity of an Unladen Swallow">Estimating the Airspeed Velocity of an Unladen Swallow</a></h3>
              <p>Hashing out the classic question with Strouhal numbers and simplified flight waveforms.</p>
            </li>
          </ul>
      </div>
    <% end %>

    <% if non_recommended_results.any? %>
      <div class="results more group">
        <ol class="group">
          <% non_recommended_results.each do |result| %>
            <li class="<%= result.presentation_format %>">
              <a href="<%= result.link %>" title="View <%= result.title %>"><span><%= result.title %></span></a>
              <% if result.highlight.to_s != "" %>
                <p><%= apply_highlight(h(result.highlight)) %></p>
              <% elsif !result.description.empty? %>
                <p><%= result.description %></p>
              <% end %>
              <% unless (result.additional_links.nil? || result.additional_links.empty?) %>
              <ul class="search-parts">
                <% result.additional_links.each do |link| %>
                  <li><a href="<%= link.link %>"><%=h link.title %></a></li>
                <% end %>
              </ul>
            <% end %>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
</section>

<% content_for :head do %>
  <link rel="alternate" type="application/json" href="<%= @prefix %>/search.json?q=<%=h @query %>">
<% end %>