<section id="content" role="main" class="group ancillary search">
  <header>
    <h1>Search results</h1>
    <p>There were <strong><%= capped_search_set_size %></strong> <%= pluralize("result", "results") %> for &ldquo;<%=h @query %>&rdquo;.</p>
  </header>

  <div class="results top group">

    <% unless recommended_results.empty? %>
      <ul class="search-promoted">
      <% recommended_results.each do |result| %>
        <li>
          <h3><a href="<%= result.link %>" title="View <%= result.title %>"><%= result.title %></a></h3>
          <p><%=h result.description %></p>
          <p><a href="<%= result.link %>" class="button" title="Visit this website (you will leave the gov.uk website)">Visit this website &rarr;</a></p>
        </li>
      <% end %>
      </ul>
    <% end %>

    <header>
      <h2>Top results</h2>
    </header>

    <ol class="group">
      <% top_results.each do |result| %>
        <li class="<%= result.presentation_format %>">
          <a href="<%= result.link %>" title="View <%= result.title %>"><%= result.title %></a>
          <small><%= result.link %></small>
          <p><%=h result.description %></p>
          <% unless (result.additional_links.nil? || result.additional_links.empty?) %>
            <ul class="search-parts">
              <% result.additional_links.each do |link| %>
                <li><a href="<%= link.link %>"><%=h link.title %></a></li>
              <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ol>
  </div>

  <% if more_results %>
    <div class="results more group">
      <header>
        <h3>More results</h3>
      </header>

      <ol class="group">
        <% more_results.each do |result| %>
          <li class="<%= result.presentation_format %>">
            <a href="<%= result.link %>" title="View <%= result.title %>"><%= result.title %></a>
            <small><%= result.link %></small>
            <p><%= h result.description %></p>
          </li>
        <% end %>
      </ol>
    </div>
  <% end %>
</section>
