<section id="content" role="main" class="group ancillary search">
  <header>
    <h1>Search results for &ldquo;<%=h @query %>&rdquo;</h1>
    <p><%= capped_search_set_size %> <%= pluralize("result", "results") %> found</p>
  </header>

  <% unless recommended_results.empty? %>
    <div class="results top group">
        <h2>Elsewhere on the web</h2>
        <ul class="search-promoted">
          <% recommended_results.each do |result| %>
            <li>
              <h3><a href="<%= result.link %>" title="View <%= result.title %>"><%= result.title %></a></h3>
              <p><%= rehighlight(h(result.highlight)) %></p>
            </li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <% if non_recommended_results.any? %>
    <div class="results more group">
      <ol class="group">
        <% non_recommended_results.each do |result| %>
          <li class="<%= result.presentation_format %>">
            <a href="<%= result.link %>" title="View <%= result.title %>"><%= result.title %></a>
            <% unless result.highlight.to_s == "" %>
            <p><%= rehighlight(h(result.highlight)) %></p>
            <% else %>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <% end %>
            <% unless (result.additional_links.nil? || result.additional_links.empty?) %>
            <ul class="search-parts">
              <% result.additional_links.each do |link| %>
                <li><a href="<%= link.link %>"><%=h link.title %></a></li>
              <% end %>
            </ul>
          <% end %>
          </li>
        <% end %>
      </ol>
    </div>
  <% end %>
</section>
