<section id="content" role="main" class="group ancillary section-page">

  <header class="page-header group">
    <hgroup>
      <h1><%= formatted_section_name @section.slug %></h1>
    </hgroup>
  </header>

  <div class="browse-container group">
    <div class="results group">
      <div class="results-wrapper" id="popular">
        <div class="summary">
          <%= include @section.slug %>
        </div>

        <div id="popular">
          <% if @popular && @popular.size > 0 %>
            <ul class="results-list">
              <% group_by_format(@popular).each do |presentation_format_name, results| %>
                <% results.each do |result| %>
                  <li class="type-<%= result.presentation_format %>">
                    <a href="<%= result.link %>" title="View <%= result.title %>"><%= result.title %></a>
                    <% if result.description && !result.description.empty? %>
                      <p><%= result.description %></p>
                    <% end %>
                    <ul class="result-meta">
                      <li class="<%= result.presentation_format %>"><%= h presentation_format_name %></li>
                    </ul>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>
      
        <% @results.each do |subsection, results| %>
          <div class="hide" id="<%= subsection ? subsection : "other" %>">
            <ul class="results-list">
              <% group_by_format(results).each do |presentation_format_name, sub_results| %>
                <% sub_results.each do |result| %>
                  <li class="type-<%= result.presentation_format %>">
                    <a href="<%= result.link %>" title="View <%= result.title %>"><%= result.title %></a>
                    <% if result.description && !result.description.empty? %>
                      <p><%= result.description %></p>
                    <% end %>
                    <ul class="result-meta">
                      <li class="<%= result.presentation_format %>"><%= h presentation_format_name %></li>
                    </ul>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>

    </div>
  </div>
  
  <aside class="filters filters-2">
    <div class="group">
      <h2 class="visuallyhidden">Current Section</h2>

      <ul>
        <li class="open">
          <a href="<%= @section.path %>"><%= formatted_section_name @section.slug %></a>
          <ul>
            <% @results.each do |subsection, results| %>
            <li data-filter="section-<%= subsection ? subsection : "other" %>"><a href="<%= @section.path %>#/<%= subsection ? subsection : "other" %>"><%= subsection ? h(formatted_section_name subsection) : "Other" %></a></li>
            <% end %>
          </ul>
        </li>
      </ul>
      
      <h2>Other Sections</h2>
      
      <ul>
        <li><a href="/browse/business">Business</a></li>
        <li><a href="/browse/driving">Driving</a></li>
        <li><a href="/browse/education">Education</a></li>
        <li><a href="/browse/family">Family</a></li>
        <li><a href="/browse/housing">Housing</a></li>
        <li><a href="/browse/life-in-the-uk">Life in the UK</a></li>
        <li><a href="/browse/money-and-tax">Money and tax</a></li>
        <li><a href="/browse/neighbourhoods">Neighbourhoods</a></li>
        <li><a href="/browse/travel">Travel</a></li>
        <li><a href="/browse/work">Work</a></li>
      </ul>
    </div>
    
  </aside>
  </div>
</section>

<% content_for :head do %>
  <link rel="alternate" type="application/json" href="/browse/<%= @section.slug %>.json">
<% end %>
