<section id="content" role="main" class="group ancillary section-page">
  <header>
    <h1>Browse GOV.UK &mdash; <%= @section.name %></h1>
  </header>

  <div class="browse-sections">

    <%= include @section.slug %>
    
    <% if @popular && @popular.size > 0 %>
      <div class="popular results">
        <h2>Popular Items</h2>
        
        <ol class="group">
        <% @popular.each do |result| %>
          <li class="<%= result.presentation_format %>">
            <a href="<%= result.link %>" title="View <%= result.title %>"><%= result.title %></a>
            <% if result.description && !result.description.empty? %>
              <p><%= result.description %></p>
            <% end %>
          </li>
        <% end %>
        </ol>
      </div>
    <% end %>
    
    <div class="results">
    <% @results.each do |subsection, results| %>
      <h2><%= subsection ? h(subsection.gsub('-', ' ').capitalize) : "Other" %></h2>
      <ol class="group">
      <% results.each do |result| %>
        <li class="<%= result.presentation_format %>">
          <a href="<%= result.link %>" title="View <%= result.title %>"><%= result.title %></a>
        </li>
      <% end %>
      </ol>
    <% end %>
  </div>
</section>
