<section id="content" role="main" class="group ancillary section-page">
  <header>
    <h1>Browse GOV.UK &mdash; <%= @section.name %></h1>
  </header>

  <div class="browse-sections">

    <%= include @section.slug %>

    <div class="results">
    <table style="width:100%">
    <!-- FIXME: TABLE JUST A HACKY SKETCH FOR NOW -->
    <% @results.each_slice(2) do |row| %>
    <tr>
      <% row.each do |subsection, results| %>
      <td>
        <h2><%= subsection ? h(subsection.capitalize) : "Other" %></h2>
        <ol class="group">
        <% results.each do |result| %>
          <li class="<%= result.presentation_format %>">
            <a href="<%= result.link %>" title="View <%= result.title %>"><%= result.title %></a>
          </li>
        <% end %>
        </ol>
      </td>
      <% end %>
    </tr>
    <% end %>
    </table>
  </div>
</section>
