<section id="content" role="main" class="group search section-page ancillary">

  <header class="page-header group">
    <hgroup>
      <h1><%= h @section["title"] %></h1>
    </hgroup>
  </header>

  <div class="search-container group">
    <div class="results group">
      <div class="results-wrapper">
        <div class="summary">
          <%= h @section["details"]["description"] %>
        </div>

        <div id="popular">
          <% if @popular_artefacts && @popular_artefacts.size > 0 %>
            <ul class="results-list">
              <% group_by_format(@popular_artefacts).each do |presentation_format_name, results| %>
                <% results.each do |result| %>
                  <li class="type-<%= result.presentation_format %>">
                    <a href="<%= h result.link %>" title="View <%= h result.title %>"><%= h result.title %></a>
                    <% if result.description && !result.description.empty? %>
                      <p><%= h result.description %></p>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>

        <% @artefacts_by_subsection.each do |slug, artefacts| %>
          <div class="hidden" id="<%= slug %>">
            <ul class="results-list">
              <% artefacts.each do |artefact| %>
                <li>
                  <a href="<%= h artefact['web_url'] %>"
                     title="View <%= h artefact['title'] %>">
                    <%= h artefact['title'] %>
                  </a>
                  <p><%= h artefact['details']['overview'] %></p>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>

    </div>
  </div>

  <aside class="filters">
    <div class="group">
      <h2 class="visuallyhidden">Current Section</h2>

      <ul>
        <li class="open">
          <a href="<%= @section["content_with_tag"]["web_url"] %>"><%= formatted_section_name params[:section] %></a>
          <ul class="subsections">
            <% @sub_sections.each do |tag| %>
              <li data-filter="section-<%= tag["title"].downcase.gsub(" ", "-") %>"><a href="#/<%= tag["title"].downcase.gsub(" ", "-") %>"><%= tag['title'] %></a></li>
            <% end %>
            <li data-filter="section-other %>"><a href="#/other">Other</a></li>
          </ul>
        </li>
      </ul>

      <h2>Other sections</h2>

      <ul>
        <% @other_sections.each do |section| %>
          <li><a href="<%= section["content_with_tag"]["web_url"] %>"><%= h section["title"] %></a></li>
        <% end %>
      </ul>
    </div>

  </aside>
  </div>
</section>

<% content_for :head do %>
  <link rel="alternate" type="application/json" href="/browse/<%= params[:section] %>.json">
<% end %>
