<section id="content" role="main" class="group ancillary section-page">
  <header>
    <h1>Browse GOV.UK &mdash; <%= @section.name %></h1>
  </header>

  <div class="browse-sections">

    <%= include @section.slug %>

    <% @results.each do |format, results| %>
      <div class="results group">
        <h2><%= formatted_format_name(format) %></h2>
        <ol class="group">
        <% results.each do |result| %>
          <li class="<%= result.presentation_format %>">
            <a href="<%= result.link %>" title="View <%= result.title %>"><%= result.title %></a>
          </li>
        <% end %>
        </ol>
      </div>
    <% end %>
  </div>
</section>
