<section id="content" role="main" class="group search section-page ancillary">

  <header class="page-header group">
    <hgroup>
      <h1><%= formatted_section_name @section.slug %></h1>
    </hgroup>
  </header>

  <div class="search-container group">
    <div class="results group">
      <div class="results-wrapper">
        <div class="summary">
          <%# This rescue is in place in the event that a section is
            # added without creating the relevant _section.html
            # description file. %>
          <%= begin; include @section.slug; rescue Exception => e; end %>
        </div>

        <div id="popular">
          <% if @popular && @popular.size > 0 %>
            <ul class="results-list">
              <% group_by_format(@popular).each do |presentation_format_name, results| %>
                <% results.each do |result| %>
                  <li class="type-<%= result.presentation_format %>">
                    <a href="<%= h result.link %>" title="View <%= h result.title %>"><%= h result.title %></a>
                    <% if result.description && !result.description.empty? %>
                      <p><%= h result.description %></p>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
        </div>

        <% @results.each do |subsection, results| %>
          <div class="hidden" id="<%= subsection ? subsection : "other" %>">
            <ul class="results-list">
              <% group_by_format(results).each do |presentation_format_name, sub_results| %>
                <% sub_results.each do |result| %>
                  <li class="type-<%= result.presentation_format %>">
                    <a href="<%= h result.link %>" title="View <%= h result.title %>"><%= h result.title %></a>
                    <% if result.description && !result.description.empty? %>
                      <p><%= h result.description %></p>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        <% end %>

    </div>
  </div>

  <aside class="filters">
    <div class="group">
      <h2 class="visuallyhidden">Current Section</h2>

      <ul>
        <li class="open">
          <a href="<%= @section.path %>"><%= formatted_section_name @section.slug %></a>
          <ul class="subsections">
            <% @results.each do |subsection, results| %>
            <li data-filter="section-<%= subsection ? subsection : "other" %>"><a href="<%= @section.path %>#/<%= subsection ? subsection : "other" %>"><%= subsection ? h(formatted_section_name subsection) : "Other" %></a></li>
            <% end %>
          </ul>
        </li>
      </ul>

      <h2>Other sections</h2>

      <ul>
        <% @sections.each do |section| %>
          <li><a href="<%= section.path %>"><%= h formatted_section_name(section.name) %></a></li>
        <% end %>
      </ul>
    </div>

  </aside>
  </div>
</section>

<% content_for :head do %>
  <link rel="alternate" type="application/json" href="/browse/<%= @section.slug %>.json">
<% end %>
